<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="manifest" href="<%= BASE_URL %>manifest.json">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <meta http-equiv="refresh" content="0; URL=https://lake-chad-basin-stability-map.org/">
    <link rel="canonical" href="https://lake-chad-basin-stability-map.org/"> -->
    <title>Plan - Chad youth efforts</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
